{% extends 'index.html' %}
{% block content %}
<h1>Calculator</h1>

<button onclick="location.href='/'">Home</button>

<form action="/equation", method="post">
    <label for="tgt">target:</label>
    <input type="text" id="tgt_input" name="tgt_latex" autocomplete="off" value="{{ tgt }}" placeholder="x^2+4x+3=0">
    <button type="submit">solve</button>
</form>

<main>
    <div class="preview-space" class="scroll-on">
        {%if tgt %}
        <p id="preview" class="scroll-on">preview:\[{{ tgt }}\]</p>
        {% else %}
        <p id="preview" class="scroll-on">preview:\[ x^2+4x+3=0 \]</p>
        {% endif %}
    </div>

    {% if ans %}
    <div id="ansewer-space" class="scroll-on">
        <p id="answer">
            ans:\[{{ ans }}\]
        </p>
    </div>
    {% endif %}

    <div class="latex-space">
        {% if tgt %}
        <p>latex:<textarea id="latex" readonly>&#123;{{ tgt }}&#125;</textarea></p>
        {% endif %}
    </div>

    <div class="latex-space">
        {% if ans %}
        <p>latex:<textarea id="latex" readonly>&#123;{{ ans }}&#125;</textarea></p>
        {% endif %}
    </div>
</main>


{% endblock content %}