{% extends 'index.html' %}
{% block content %}
<h1>Calculator</h1>

<button onclick="location.href='/'">Home</button>

<form action="/equation", method="post">
    <label for="tgt">target:</label>
    <input type="text" id="tgt_input" name="tgt_latex" autocomplete="off" value={{ tgt }}>
    <button type="submit">solve</button>
</form>

<main>
    <div class="preview-space">
        <p id="preview">preview:\[{{ tgt }}\]</p>
    </div>

    <div class="ansewer-space">
        {% if ans %}
        <p id="answer">
            ans:\[{{ ans }}\]
        </p>
        {% endif %}
    </div>

    <div class="latex-space">
        {% if ans %}
        <p>latex:<textarea id="latex" readonly>&#123;{{ ans }}&#125;</textarea></p>
        {% endif %}
    </div>
</main>


{% endblock content %}