{% extends 'index.html' %}
{% block content %}
<h1>Calculator</h1>

<button onclick="location.href='/'">Home</button>

<form action="/integral", method="post">
    <label for="tgt">target:</label>
    <input type="text" id="tgt_input" name="tgt_latex" value={{ tgt }}>
    <button type="submit">integral</button>
</form>

<main>
    <div class="preview-space">
        <p id="preview">preview:\[{{ tgt }}\]</p>
    </div>

    <div class="ansewer-space">
        {% if ans %}
        <p id="answer">ans:\[{{ tgt }} = {{ ans }}\]</p>
        {% endif %}
    </div>
</main>

{% endblock content %}